<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
       #map {
        height: 600px;
        width: 100%;
       }
    </style>
    <script src="../javascripts/get.js" type="text/javascript"></script>
  </head>
  <body>

    <!-->
    <%= result.solutions[1].startTime %>
    <%= result.solutions[1].endTime %>
    -->

    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>

    function initMap() {
        
        var data = <%- JSON.stringify(data) %>;
        var result = <%- JSON.stringify(result) %>;
        var time = <%= time %>;

        var solution = getSolution(result.solutions, time);
        var locations = {};

        var minLat = 1000, maxLat = -minLat, minLng = minLat, maxLng = maxLat;
        var trjIndex = -1;
        
        <% for(var i=0; i<data.objects.length; i++){ %>
            var id = <%= data.objects[i].id %>,
                loc = getLocation(data.objects[id].locations, time, trjIndex);
            
            
            if(loc.pos != -1){
                trjIndex = loc.pos;
                if(solution.includes(id)){
                  minLat = Math.min(minLat, loc.lat);
                  maxLat = Math.max(maxLat, loc.lat);

                  minLng = Math.min(minLng, loc.lng);
                  maxLng = Math.max(maxLng, loc.lng);
                }
              
                locations[id] = {lat: loc.lat, lng: loc.lng};
            }

        <% } %>

        var mbrCenter = {lat : (minLat + maxLat)/2, lng : (minLng + maxLng)/2};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: mbrCenter
        });

        for(var key in locations){
            var marker = new google.maps.Marker({
              position: locations[key],
              map: map,
              label: String(key),
              title: String(key)
            });
        }
        /**/
        
        
        //var mbrCenter = getSolution(locations, result.solutions, time);
        minLat = mbrCenter.lat - <%= parameters.R.d1 %> / 2;
        minLng = mbrCenter.lng - <%= parameters.R.d2 %> / 2;
        
        var rectangle = new google.maps.Rectangle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            bounds: {
              north: minLat,
              south: minLat + <%= parameters.R.d1 %>,
              east: minLng + <%= parameters.R.d2 %>,
              west: minLng
            }
        });

    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6hbSjCuN4EQsh34uhHO1C7gMQNdwBBg4&callback=initMap">
    </script>
    <!---->
  </body>
</html>