<!DOCTYPE html>
<html>
<head>
  <title>Graph 3D line demo</title>

  <!--style>
    body {font: 10pt arial;}
  </style-->

  <script type="text/javascript" src="/javascripts/vis.js"></script>

  <script type="text/javascript">
    var data = null;
    var graph = null;

    // Called when the Visualization API is loaded.
    function drawVisualization() {
        // Create and populate a data table.
        data = new vis.DataSet();

        var Data = <%- JSON.stringify(Data) %>;

        console.log("length: ", Data.length);
        console.log(Data);

        var xMin = Data[0].x, yMin = Data[0].y, zMin = Data[0].z;
        var xMax = xMin, yMax = yMin, zMax = zMin;
        for(var i=0; i<Data.length; i++){
            data.add(Data[i]);
            
            xMin = Math.min(xMin, Data[i].x);
            xMax = Math.max(xMax, Data[i].x);

            yMin = Math.min(yMin, Data[i].y);
            yMax = Math.max(yMax, Data[i].y);

            zMin = Math.min(zMin, Data[i].z);
            zMax = Math.max(zMax, Data[i].z);
        }

        console.log(xMin);
        console.log(xMax);

        console.log(yMin);
        console.log(yMax);

        console.log(zMin);
        console.log(zMax);

        // create some nice looking data with sin/cos
        /*
        data.add({x:5, y:10, z:0});
        data.add({x:10, y:5, z:10});
        data.add({x:25, y:35, z:10});
        data.add({x:30, y:45, z:20});
        data.add({x:25, y:35, z:20});
        data.add({x:30, y:35, z:30});
        data.add({x:32, y:37, z:30});
        data.add({x:80, y:35, z:45});
        data.add({x:90, y:32, z:45});
        data.add({x:5, y:0, z:70});
        */

        // specify options
        var options = {
            width:  '1200px',
            height: '800px',
            style: 'line',
            showPerspective: true,
            showGrid: true,
            keepAspectRatio: true,
            verticalRatio: 1.0,
            zMax: zMax,
            zMin: zMin,
            zStep: 9,
            xMax: xMax,
            yMax: yMax,
            xMin: xMin,
            yMin: yMin,
            xLabel: 'lat',
            yLabel: 'lon',
            zLabel: 'time',
            showShadow: true,
            dataColor: 'yellow',
            backgroundColor: 'purple',
            axisColor: 'white',
            gridColor: 'white',
            tooltip: true
        };

        // create our graph
        var container = document.getElementById('mygraph');
        graph = new vis.Graph3d(container, data, options);
        graph.dataColor.strokeWidth = 5.0;

        graph.setCameraPosition(0.4, undefined, undefined);

        var dataset = <%- JSON.stringify(dataset) %>
        var addr = "/show/" + dataset + "/" + <%= startTime %> + "/" + <%= endTime %> + "/" + <%= qSize %>;
        console.log('2D address: ', addr);
        document.getElementById("goto2D").href = addr;

    }
  </script>
  
</head>

<body onload="drawVisualization()">
    <% include templates/header.ejs %>
    <a href="/show" class="button" id="goto2D">Back to 2D</a>
    <div id="mygraph" style="width: 1200px; height: 800px" ></div>

    <div id="info"></div>
</body>
</html>
